.automatic_website_translator {
    background: #2b2b33;
    border-top: 1px solid white;
    padding: 1rem 0;
    text-align: center;

    button {
        margin: 0 0.5rem;
        background: white;
    }
}